// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Supermemory from "../../../index.js";

export declare namespace ProfilesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Maintained static, dynamic, and custom-bucket profiles scoped by namespace
 */
export class ProfilesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProfilesClient.Options>;

    constructor(options: ProfilesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Inspect the profile taxonomy active in this namespace. The response combines organization-wide buckets with namespace-owned additions as a concise name-to-description map.
     *
     * @param {string} namespace - The isolated namespace to search. This can be an ID for your user, a project ID, or any other identifier you wish to use to scope memories.
     * @param {Supermemory.GetBucketsProfilesRequest} request
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Supermemory.BadRequestError}
     * @throws {@link Supermemory.UnauthorizedError}
     * @throws {@link Supermemory.ForbiddenError}
     * @throws {@link errors.SupermemoryError}
     * @throws {@link errors.SupermemoryTimeoutError}
     *
     * @example
     *     await client.profiles.getBuckets("user_alex")
     */
    public getBuckets(
        namespace: string,
        request: Supermemory.GetBucketsProfilesRequest = {},
        requestOptions?: ProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<Supermemory.GetBucketsProfilesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBuckets(namespace, request, requestOptions));
    }

    private async __getBuckets(
        namespace: string,
        _request: Supermemory.GetBucketsProfilesRequest = {},
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Supermemory.GetBucketsProfilesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SupermemoryEnvironment.Default,
                `ns/${core.url.encodePathParam(namespace)}/profile/buckets`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Supermemory.GetBucketsProfilesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Supermemory.BadRequestError(
                        _response.error.body as Supermemory.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Supermemory.UnauthorizedError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Supermemory.ForbiddenError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SupermemoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/ns/{namespace}/profile/buckets",
        );
    }

    /**
     * Teach Supermemory new ways to organize this namespace's profile, or refine how existing namespace-owned buckets are classified. Omitted buckets remain unchanged and organization-wide buckets stay protected.
     *
     * @param {string} namespace - The isolated namespace to search. This can be an ID for your user, a project ID, or any other identifier you wish to use to scope memories.
     * @param {Supermemory.SetBucketsProfilesRequest} request
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Supermemory.BadRequestError}
     * @throws {@link Supermemory.UnauthorizedError}
     * @throws {@link Supermemory.ForbiddenError}
     * @throws {@link Supermemory.NotFoundError}
     * @throws {@link Supermemory.ConflictError}
     * @throws {@link Supermemory.InternalServerError}
     * @throws {@link errors.SupermemoryError}
     * @throws {@link errors.SupermemoryTimeoutError}
     *
     * @example
     *     await client.profiles.setBuckets("user_alex", {
     *         buckets: {
     *             "interests": "Topics the subject actively follows"
     *         }
     *     })
     */
    public setBuckets(
        namespace: string,
        request: Supermemory.SetBucketsProfilesRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<Supermemory.SetBucketsProfilesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setBuckets(namespace, request, requestOptions));
    }

    private async __setBuckets(
        namespace: string,
        request: Supermemory.SetBucketsProfilesRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Supermemory.SetBucketsProfilesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SupermemoryEnvironment.Default,
                `ns/${core.url.encodePathParam(namespace)}/profile/buckets`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Supermemory.SetBucketsProfilesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Supermemory.BadRequestError(
                        _response.error.body as Supermemory.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Supermemory.UnauthorizedError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Supermemory.ForbiddenError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Supermemory.NotFoundError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Supermemory.ConflictError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Supermemory.InternalServerError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SupermemoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/ns/{namespace}/profile/buckets",
        );
    }

    /**
     * Remove profile categories created specifically for this namespace. Unknown names are safely ignored, while organization-wide buckets remain protected.
     *
     * @param {string} namespace - The isolated namespace to search. This can be an ID for your user, a project ID, or any other identifier you wish to use to scope memories.
     * @param {Supermemory.DeleteBucketsProfilesRequest} request
     * @param {ProfilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Supermemory.BadRequestError}
     * @throws {@link Supermemory.UnauthorizedError}
     * @throws {@link Supermemory.ForbiddenError}
     * @throws {@link Supermemory.NotFoundError}
     * @throws {@link Supermemory.ConflictError}
     * @throws {@link Supermemory.InternalServerError}
     * @throws {@link errors.SupermemoryError}
     * @throws {@link errors.SupermemoryTimeoutError}
     *
     * @example
     *     await client.profiles.deleteBuckets("user_alex", {
     *         buckets: ["interests"]
     *     })
     */
    public deleteBuckets(
        namespace: string,
        request: Supermemory.DeleteBucketsProfilesRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): core.HttpResponsePromise<Supermemory.DeleteBucketsProfilesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteBuckets(namespace, request, requestOptions));
    }

    private async __deleteBuckets(
        namespace: string,
        request: Supermemory.DeleteBucketsProfilesRequest,
        requestOptions?: ProfilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Supermemory.DeleteBucketsProfilesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SupermemoryEnvironment.Default,
                `ns/${core.url.encodePathParam(namespace)}/profile/buckets`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Supermemory.DeleteBucketsProfilesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Supermemory.BadRequestError(
                        _response.error.body as Supermemory.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Supermemory.UnauthorizedError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Supermemory.ForbiddenError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Supermemory.NotFoundError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Supermemory.ConflictError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Supermemory.InternalServerError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SupermemoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/ns/{namespace}/profile/buckets",
        );
    }
}
