openapi: "3.1.0"
components:
  securitySchemes:
    bearerAuth:
      scheme: "bearer"
      type: "http"
      x-speakeasy-name-override: apiKey
  schemas:
    ErrorResponse:
      type: "object"
      properties:
        error:
          type: "string"
          description: "Error message"
          example: "Invalid request parameters"
        details:
          type: "string"
          description: "Additional error details"
          example: "Query must be at least 1 character long"
      required:
        - "error"
    FilterCondition:
      type: "object"
      properties:
        filterType:
          default: "metadata"
          type: "string"
          enum:
            - "metadata"
            - "numeric"
            - "array_contains"
            - "string_contains"
        key:
          type: "string"
        negate:
          anyOf:
            - type: "boolean"
            - type: "string"
              enum:
                - "true"
                - "false"
        ignoreCase:
          anyOf:
            - type: "boolean"
            - type: "string"
              enum:
                - "true"
                - "false"
        numericOperator:
          default: "="
          type: "string"
          enum:
            - ">"
            - "<"
            - ">="
            - "<="
            - "="
        value:
          type: "string"
      required:
        - "key"
        - "value"
      description: "A single filter condition based on metadata, numeric values, array contents, or string matching"
    LogicalExpression:
      description: "A single filter condition or a nested AND/OR expression. The API validates up to 5 levels of nesting."
      anyOf:
        - $ref: "#/components/schemas/FilterCondition"
        - type: "object"
          properties:
            OR:
              type: "array"
              items:
                $ref: "#/components/schemas/LogicalExpression"
              description: "OR: Array of conditions or nested expressions"
          required:
            - "OR"
        - type: "object"
          properties:
            AND:
              type: "array"
              items:
                $ref: "#/components/schemas/LogicalExpression"
              description: "AND: Array of conditions or nested expressions"
          required:
            - "AND"
    QueryFilter:
      description: "Root query object that must contain either an AND or OR array of filter expressions"
      anyOf:
        - type: "object"
          properties:
            OR:
              type: "array"
              items:
                $ref: "#/components/schemas/LogicalExpression"
              description: "Array of OR filter expressions"
          required:
            - "OR"
        - type: "object"
          properties:
            AND:
              type: "array"
              items:
                $ref: "#/components/schemas/LogicalExpression"
              description: "Array of AND filter expressions"
          required:
            - "AND"
info:
  title: "supermemory API"
  description: "The Memory API for the AI era. OpenAPI operations include x-codeSamples for the official TypeScript and Python SDKs (Mintlify-compatible)."
  version: "3.0.0"
security:
  - bearerAuth: []
servers:
  - description: "Production Server"
    url: "https://api.supermemory.ai"
tags:
  - name: "Ingest"
    description: "Ingest documents, files, URLs, conversations, and other content"
  - name: "Recall (Search)"
    description: "Semantic recall across your content — supports memories, hybrid, and documents modes"
  - name: "Profiles"
    description: "Entity profiles for users, participants, or any entity — includes profile search"
  - name: "Content Management"
    description: "List, get, update, and delete content and memories"
  - name: "Container Tags"
    description: "List and manage container tags (spaces) — settings, merge, and delete"
  - name: "Connections"
    description: "External service integrations"
  - name: "Settings"
    description: "Organization settings"
  - name: "Documents"
    description: "List, get, and search documents"
paths:
  /v3/documents:
    post:
      operationId: "postV3Documents"
      description: "Add a document with any content type (text, url, file, etc.) and metadata"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "id"
                  - "status"
                properties:
                  id:
                    type: "string"
                    description: "Unique identifier of the document"
                  status:
                    type: "string"
                    description: "Status of the document"
                additionalProperties: false
          description: "Document added successfully"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "Add document"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              required:
                - "content"
              properties:
                content:
                  type: "string"
                  description: "The content to extract and process into a document. This can be a URL to a website, a PDF, an image, or a video."
                containerTag:
                  type: "string"
                  description: "Optional tag this document should be containerized by. Max 100 characters, alphanumeric with hyphens, underscores, and dots only."
                containerTags:
                  type: "array"
                  items:
                    type: "string"
                  deprecated: true
                  x-hidden: true
                entityContext:
                  type: "string"
                  description: "Optional entity context for this container tag. Max 1500 characters. Used during document processing to guide memory extraction."
                  title: "maxLength(1500)"
                  maxLength: 1500
                customId:
                  type: "string"
                  description: "Optional custom ID of the document. Max 100 characters, alphanumeric with hyphens, underscores, and dots only."
                metadata:
                  type: "object"
                  required: []
                  properties: {}
                  additionalProperties:
                    anyOf:
                      - type: "string"
                      - type: "number"
                      - type: "boolean"
                      - type: "array"
                        items:
                          type: "string"
                  description: "Optional metadata for the document."
                taskType:
                  type: "string"
                  enum:
                    - "memory"
                    - "superrag"
                  description: "Task type: \"memory\" (default) for full context layer with SuperRAG built in, \"superrag\" for managed RAG as a service."
                filepath:
                  type: "string"
                  description: "Optional file path for the document. Used by supermemoryfs to store the full path of the file."
                filterByMetadata:
                  type: "object"
                  required: []
                  properties: {}
                  additionalProperties:
                    anyOf:
                      - type: "string"
                      - type: "number"
                      - type: "boolean"
                      - type: "array"
                        items:
                          type: "string"
                  description: "Optional metadata filter to apply when pulling related memories and profile during ingestion. Only memories matching these filters will be used as context."
                documentDate:
                  type: "string"
                  description: "When this document's content is from, as opposed to when it was uploaded. Accepts YYYY-MM-DD or a full ISO 8601 timestamp. Memory extraction resolves relative dates against this instead of the ingestion time, and documents in a batch are processed oldest-first so newer facts correctly supersede older ones. Set this whenever you backfill historical content."
                dreaming:
                  type: "string"
                  enum:
                    - "instant"
                    - "dynamic"
                  description: "Processing mode. \"dynamic\" (default) groups related documents together so memories form from coherent, logical units rather than one isolated entry at a time. \"instant\" processes each document on its own right away, and bills one extra operation per document."
              additionalProperties: false
      x-codeSamples:
        - lang: "typescript"
          label: "TypeScript SDK"
          source: "import Supermemory from \"supermemory\";\n\nconst client = new Supermemory({\n  apiKey: process.env.SUPERMEMORY_API_KEY,\n});\n\nconst doc = await client.add({\n  content: \"Sarah is being promoted to VP of Product.\",\n  containerTag: \"user_123\",\n  customId: \"chat_session_1\",\n  metadata: { type: \"conversation\" },\n  dreaming: \"instant\",\n});\n\nconsole.log(doc.id, doc.status); // queued → poll until done"
        - lang: "python"
          label: "Python SDK"
          source: "from supermemory import Supermemory\n\nclient = Supermemory()  # uses SUPERMEMORY_API_KEY\n\ndoc = client.add(\n    content=\"Sarah is being promoted to VP of Product.\",\n    container_tag=\"user_123\",\n    custom_id=\"chat_session_1\",\n    metadata={\"type\": \"conversation\"},\n    dreaming=\"instant\",\n)\nprint(doc.id, doc.status)"
        - lang: "bash"
          label: "cURL"
          source: "curl -X POST \"https://api.supermemory.ai/v3/documents\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"content\": \"Sarah is being promoted to VP of Product.\",\n    \"containerTag\": \"user_123\",\n    \"customId\": \"chat_session_1\",\n    \"metadata\": { \"type\": \"conversation\" },\n    \"dreaming\": \"instant\"\n  }'"
      x-speakeasy-name-override: add
  /v3/documents/batch:
    post:
      operationId: "postV3DocumentsBatch"
      description: "Add multiple documents in a single request. Each document can have any content type (text, url, file, etc.) and metadata"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "results"
                  - "failed"
                  - "success"
                properties:
                  results:
                    type: "array"
                    items:
                      type: "object"
                      required:
                        - "id"
                        - "status"
                      properties:
                        id:
                          type: "string"
                          description: "Unique identifier of the document (empty string for failed items)"
                        status:
                          type: "string"
                          description: "Status of the document (e.g. 'done', 'queued', 'error')"
                        error:
                          type: "string"
                          description: "Error message when status is 'error'"
                        details:
                          type: "string"
                          description: "Additional error details when status is 'error'"
                        url:
                          type: "string"
                          description: "URL of the failed item, when it had one. Only present on failed items, where it may be the only way to tell which input the error belongs to (the id falls back to 'unknown' when the input had neither an id nor a customId)."
                      additionalProperties: false
                    description: "Array of results for each document in the batch"
                  failed:
                    type: "number"
                    description: "Count of documents that failed to add"
                  success:
                    type: "number"
                    description: "Count of documents successfully added"
                additionalProperties: false
          description: "Documents added successfully"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Document token limit reached"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "Batch add documents"
      tags:
        - "Ingest"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                containerTag:
                  description: "Optional tag this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                  example: "user_alex"
                  type: "string"
                  maxLength: 100
                  pattern: "^[a-zA-Z0-9_:-]+$"
                containerTags:
                  description: "(DEPRECATED: Use containerTag instead) Optional tags this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                  deprecated: true
                  x-hidden: true
                  type: "array"
                  items:
                    type: "string"
                    maxLength: 100
                    pattern: "^[a-zA-Z0-9_:-]+$"
                metadata:
                  description: "Optional metadata for the document. This is used to store additional information about the document. You can use this to store any additional information you need about the document. Metadata can be filtered through. Keys must be strings and are case sensitive. Values can be strings, numbers, or booleans. You cannot nest objects."
                  example:
                    source: "upload"
                    language: "en"
                  type: "object"
                  propertyNames:
                    type: "string"
                  additionalProperties:
                    anyOf:
                      - type: "string"
                      - type: "number"
                      - type: "boolean"
                      - type: "array"
                        items:
                          type: "string"
                taskType:
                  description: "Task type: \"memory\" (default) for full context layer with SuperRAG built in, \"superrag\" for managed RAG as a service."
                  example: "memory"
                  type: "string"
                  enum:
                    - "memory"
                    - "superrag"
                filepath:
                  description: "Optional file path for the document (e.g., '/documents/reports/file.pdf'). Used by supermemoryfs to map documents to filesystem paths."
                  example: "/documents/reports/file.pdf"
                  x-hidden: true
                  type: "string"
                filterByMetadata:
                  description: "Optional metadata filter scoping which existing memories are pulled as context during ingestion. Scalar values match exactly (AND across keys); array values match ANY (OR within key). Only memories whose source documents match this filter are used as context."
                  example:
                    department: "engineering"
                    region: "us"
                  type: "object"
                  propertyNames:
                    type: "string"
                  additionalProperties:
                    anyOf:
                      - type: "string"
                      - type: "number"
                      - type: "boolean"
                      - type: "array"
                        items:
                          type: "string"
                documentDate:
                  description: "When this document's content is from, as opposed to when it was uploaded. Accepts YYYY-MM-DD or a full ISO 8601 timestamp. Memory extraction resolves relative dates ('yesterday', 'last quarter') against this instead of the ingestion time, and documents in a batch are processed oldest-first so newer facts correctly supersede older ones. Set this whenever you backfill historical content."
                  example: "2025-03-14"
                  type: "string"
                entityContext:
                  description: "Optional entity context for this container tag. Max 1500 characters. Used during document processing to guide memory extraction."
                  example: "User's name is {XYZ}"
                  type: "string"
                  maxLength: 1500
                dreaming:
                  description: "Processing mode. \"dynamic\" (default) groups related documents together so memories form from coherent, logical units rather than one isolated entry at a time. \"instant\" processes each document on its own right away, and bills one extra operation per document."
                  example: "instant"
                  type: "string"
                  enum:
                    - "instant"
                    - "dynamic"
                documents:
                  anyOf:
                    - minItems: 1
                      maxItems: 600
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          containerTag:
                            description: "Optional tag this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                            example: "user_alex"
                            type: "string"
                            maxLength: 100
                            pattern: "^[a-zA-Z0-9_:-]+$"
                          containerTags:
                            description: "(DEPRECATED: Use containerTag instead) Optional tags this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                            deprecated: true
                            x-hidden: true
                            type: "array"
                            items:
                              type: "string"
                              maxLength: 100
                              pattern: "^[a-zA-Z0-9_:-]+$"
                          content:
                            type: "string"
                            description: "The content to extract and process into a document. This can be a URL to a website, a PDF, an image, or a video. \n\nPlaintext: Any plaintext format\n\nURL: A URL to a website, PDF, image, or video\n\nWe automatically detect the content type from the url's response format."
                            example: "Our API rate limits are 100 req/min on free and 1000 on pro. Clients should use exponential backoff on 429s."
                          customId:
                            description: "Optional custom ID of the document. This could be an ID from your database that will uniquely identify this document."
                            example: "doc-api-rate-limits"
                            type: "string"
                          metadata:
                            description: "Optional metadata for the document. This is used to store additional information about the document. You can use this to store any additional information you need about the document. Metadata can be filtered through. Keys must be strings and are case sensitive. Values can be strings, numbers, or booleans. You cannot nest objects."
                            example:
                              source: "upload"
                              language: "en"
                            type: "object"
                            propertyNames:
                              type: "string"
                            additionalProperties:
                              anyOf:
                                - type: "string"
                                - type: "number"
                                - type: "boolean"
                                - type: "array"
                                  items:
                                    type: "string"
                          taskType:
                            description: "Task type: \"memory\" (default) for full context layer with SuperRAG built in, \"superrag\" for managed RAG as a service."
                            example: "memory"
                            type: "string"
                            enum:
                              - "memory"
                              - "superrag"
                          filepath:
                            description: "Optional file path for the document (e.g., '/documents/reports/file.pdf'). Used by supermemoryfs to map documents to filesystem paths."
                            example: "/documents/reports/file.pdf"
                            x-hidden: true
                            type: "string"
                          filterByMetadata:
                            description: "Optional metadata filter scoping which existing memories are pulled as context during ingestion. Scalar values match exactly (AND across keys); array values match ANY (OR within key). Only memories whose source documents match this filter are used as context."
                            example:
                              department: "engineering"
                              region: "us"
                            type: "object"
                            propertyNames:
                              type: "string"
                            additionalProperties:
                              anyOf:
                                - type: "string"
                                - type: "number"
                                - type: "boolean"
                                - type: "array"
                                  items:
                                    type: "string"
                          documentDate:
                            description: "When this document's content is from, as opposed to when it was uploaded. Accepts YYYY-MM-DD or a full ISO 8601 timestamp. Memory extraction resolves relative dates ('yesterday', 'last quarter') against this instead of the ingestion time, and documents in a batch are processed oldest-first so newer facts correctly supersede older ones. Set this whenever you backfill historical content."
                            example: "2025-03-14"
                            type: "string"
                          entityContext:
                            description: "Optional entity context for this container tag. Max 1500 characters. Used during document processing to guide memory extraction."
                            example: "User's name is {XYZ}"
                            type: "string"
                            maxLength: 1500
                          dreaming:
                            description: "Processing mode. \"dynamic\" (default) groups related documents together so memories form from coherent, logical units rather than one isolated entry at a time. \"instant\" processes each document on its own right away, and bills one extra operation per document."
                            example: "instant"
                            type: "string"
                            enum:
                              - "instant"
                              - "dynamic"
                        required:
                          - "content"
                    - minItems: 1
                      maxItems: 600
                      type: "array"
                      items:
                        type: "string"
                        description: "The content to extract and process into a document. This can be a URL to a website, a PDF, an image, or a video. \n\nPlaintext: Any plaintext format\n\nURL: A URL to a website, PDF, image, or video\n\nWe automatically detect the content type from the url's response format."
                        example: "Our API rate limits are 100 req/min on free and 1000 on pro. Clients should use exponential backoff on 429s."
                content:
                  type: "null"
              required:
                - "documents"
      x-codeSamples:
        - lang: "typescript"
          label: "TypeScript SDK"
          source: "import Supermemory from \"supermemory\";\n\nconst client = new Supermemory({\n  apiKey: process.env.SUPERMEMORY_API_KEY,\n});\n\nconst res = await client.documents.batchAdd({\n  documents: [\n    {\n      content: \"Q3 roadmap notes\",\n      containerTag: \"user_123\",\n      customId: \"doc_roadmap\",\n    },\n    {\n      content: \"Gift policy for VP promotions\",\n      containerTag: \"user_123\",\n      customId: \"doc_gifts\",\n    },\n  ],\n});\nconsole.log(res);"
        - lang: "python"
          label: "Python SDK"
          source: "from supermemory import Supermemory\n\nclient = Supermemory()  # uses SUPERMEMORY_API_KEY\n\nres = client.documents.batch_add(\n    documents=[\n        {\n            \"content\": \"Q3 roadmap notes\",\n            \"container_tag\": \"user_123\",\n            \"custom_id\": \"doc_roadmap\",\n        },\n        {\n            \"content\": \"Gift policy for VP promotions\",\n            \"container_tag\": \"user_123\",\n            \"custom_id\": \"doc_gifts\",\n        },\n    ],\n)\nprint(res)"
        - lang: "bash"
          label: "cURL"
          source: "curl -X POST \"https://api.supermemory.ai/v3/documents/batch\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"documents\": [\n      {\n        \"content\": \"Q3 roadmap notes\",\n        \"containerTag\": \"user_123\",\n        \"customId\": \"doc_roadmap\"\n      }\n    ]\n  }'"
      x-speakeasy-name-override: batchAdd
      x-speakeasy-group: documents
  /v3/documents/{id}:
    patch:
      operationId: "patchV3DocumentsById"
      parameters:
        - in: "path"
          name: "id"
          schema:
            type: "string"
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                containerTag:
                  description: "Optional tag this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                  example: "user_alex"
                  type: "string"
                  maxLength: 100
                  pattern: "^[a-zA-Z0-9_:-]+$"
                containerTags:
                  description: "(DEPRECATED: Use containerTag instead) Optional tags this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                  deprecated: true
                  x-hidden: true
                  type: "array"
                  items:
                    type: "string"
                    maxLength: 100
                    pattern: "^[a-zA-Z0-9_:-]+$"
                content:
                  type: "string"
                  description: "The content to extract and process into a document. This can be a URL to a website, a PDF, an image, or a video. \n\nPlaintext: Any plaintext format\n\nURL: A URL to a website, PDF, image, or video\n\nWe automatically detect the content type from the url's response format."
                  example: "Our API rate limits are 100 req/min on free and 1000 on pro. Clients should use exponential backoff on 429s."
                customId:
                  description: "Optional custom ID of the document. This could be an ID from your database that will uniquely identify this document."
                  example: "doc-api-rate-limits"
                  type: "string"
                metadata:
                  description: "Optional metadata for the document. This is used to store additional information about the document. You can use this to store any additional information you need about the document. Metadata can be filtered through. Keys must be strings and are case sensitive. Values can be strings, numbers, or booleans. You cannot nest objects."
                  example:
                    source: "upload"
                    language: "en"
                  type: "object"
                  propertyNames:
                    type: "string"
                  additionalProperties:
                    anyOf:
                      - type: "string"
                      - type: "number"
                      - type: "boolean"
                      - type: "array"
                        items:
                          type: "string"
                taskType:
                  description: "Task type: \"memory\" (default) for full context layer with SuperRAG built in, \"superrag\" for managed RAG as a service."
                  example: "memory"
                  type: "string"
                  enum:
                    - "memory"
                    - "superrag"
                filepath:
                  description: "Optional file path for the document (e.g., '/documents/reports/file.pdf'). Used by supermemoryfs to map documents to filesystem paths."
                  example: "/documents/reports/file.pdf"
                  x-hidden: true
                  type: "string"
                filterByMetadata:
                  description: "Optional metadata filter scoping which existing memories are pulled as context during ingestion. Scalar values match exactly (AND across keys); array values match ANY (OR within key). Only memories whose source documents match this filter are used as context."
                  example:
                    department: "engineering"
                    region: "us"
                  type: "object"
                  propertyNames:
                    type: "string"
                  additionalProperties:
                    anyOf:
                      - type: "string"
                      - type: "number"
                      - type: "boolean"
                      - type: "array"
                        items:
                          type: "string"
                documentDate:
                  description: "When this document's content is from, as opposed to when it was uploaded. Accepts YYYY-MM-DD or a full ISO 8601 timestamp. Memory extraction resolves relative dates ('yesterday', 'last quarter') against this instead of the ingestion time, and documents in a batch are processed oldest-first so newer facts correctly supersede older ones. Set this whenever you backfill historical content."
                  example: "2025-03-14"
                  type: "string"
      description: "Update a document with any content type (text, url, file, etc.) and metadata"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "id"
                  - "status"
                properties:
                  id:
                    type: "string"
                    description: "Unique identifier of the document"
                  status:
                    type: "string"
                    description: "Status of the document"
                additionalProperties: false
          description: "Document updated successfully"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Document not found"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "Update document"
      tags:
        - "Ingest"
      x-codeSamples:
        - lang: "typescript"
          label: "TypeScript SDK"
          source: "import Supermemory from \"supermemory\";\n\nconst client = new Supermemory({\n  apiKey: process.env.SUPERMEMORY_API_KEY,\n});\n\nconst updated = await client.documents.update(\"doc_abc123\", {\n  content: \"Updated notes — Sarah is now VP of Product.\",\n  metadata: { type: \"conversation\" },\n});\nconsole.log(updated.id, updated.status);"
        - lang: "python"
          label: "Python SDK"
          source: "from supermemory import Supermemory\n\nclient = Supermemory()  # uses SUPERMEMORY_API_KEY\n\nupdated = client.documents.update(\n    \"doc_abc123\",\n    content=\"Updated notes — Sarah is now VP of Product.\",\n)\nprint(updated.id, updated.status)"
        - lang: "bash"
          label: "cURL"
          source: "curl -X PATCH \"https://api.supermemory.ai/v3/documents/doc_abc123\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"content\": \"Updated notes — Sarah is now VP of Product.\" }'"
      x-speakeasy-name-override: update
      x-speakeasy-group: documents
    get:
      operationId: "getV3DocumentsById"
      parameters:
        - in: "path"
          name: "id"
          schema:
            type: "string"
          required: true
      description: "Get a document by ID"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  connectionId:
                    anyOf:
                      - anyOf:
                          - type: "string"
                            minLength: 22
                            maxLength: 22
                          - type: "null"
                        description: "Optional ID of connection the document was created from. This is useful for identifying the source of the document."
                        example: "conn_gdrive_8f2k"
                      - type: "null"
                  content:
                    anyOf:
                      - type: "string"
                        description: "The content to extract and process into a document. This can be a URL to a website, a PDF, an image, or a video. \n\nPlaintext: Any plaintext format\n\nURL: A URL to a website, PDF, image, or video\n\nWe automatically detect the content type from the url's response format."
                        examples:
                          - "Our API rate limits are 100 req/min on free and 1000 on pro. Clients should use exponential backoff on 429s."
                          - "https://docs.example.com/guides/authentication"
                          - "https://youtube.com/watch?v=dQw4w9WgXcQ"
                          - "https://example.com/podcasts/episode-42.mp3"
                          - "https://example.com/reports/q3-summary.pdf"
                          - "https://example.com/diagrams/architecture.png"
                      - type: "null"
                  containerTags:
                    readOnly: true
                    description: "Optional tags this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                    deprecated: true
                    x-hidden: true
                    type: "array"
                    items:
                      type: "string"
                  createdAt:
                    type: "string"
                    description: "Creation timestamp"
                    example: "1970-01-01T00:00:00.000Z"
                    format: "datetime"
                  customId:
                    anyOf:
                      - type: "string"
                        maxLength: 255
                        description: "Optional custom ID of the document. This could be an ID from your database that will uniquely identify this document."
                        example: "doc-api-rate-limits"
                      - type: "null"
                  id:
                    type: "string"
                    minLength: 22
                    maxLength: 22
                    description: "Unique identifier of the document."
                    example: "acxV5LHMEsG2hMSNb4umbn"
                  metadata:
                    anyOf:
                      - anyOf:
                          - anyOf:
                              - type: "string"
                              - type: "number"
                              - type: "boolean"
                              - type: "null"
                          - type: "object"
                            propertyNames:
                              type: "string"
                            additionalProperties: {}
                          - type: "array"
                            items: {}
                        description: "Optional metadata for the document. This is used to store additional information about the document. You can use this to store any additional information you need about the document. Metadata can be filtered through. Keys must be strings and are case sensitive. Values can be strings, numbers, or booleans. You cannot nest objects."
                        example:
                          source: "upload"
                          language: "en"
                      - type: "null"
                  ogImage:
                    anyOf:
                      - type: "string"
                      - type: "null"
                  raw:
                    anyOf:
                      - description: "Raw content of the document"
                        example: "Our API rate limits are 100 req/min on free and 1000 on pro. Clients should use exponential backoff on 429s."
                      - type: "null"
                  source:
                    anyOf:
                      - type: "string"
                        maxLength: 255
                        description: "Source of the document"
                        example: "text"
                      - type: "null"
                  taskType:
                    type: "string"
                    enum:
                      - "memory"
                      - "superrag"
                    description: "Task type: \"memory\" (default) for full context layer with SuperRAG built in, \"superrag\" for managed RAG as a service."
                    example: "memory"
                  status:
                    type: "string"
                    enum:
                      - "unknown"
                      - "queued"
                      - "extracting"
                      - "chunking"
                      - "embedding"
                      - "indexing"
                      - "done"
                      - "failed"
                    description: "Status of the document"
                    example: "done"
                  dreamingStatus:
                    type: "string"
                    enum:
                      - "dreaming"
                      - "done"
                  summary:
                    anyOf:
                      - type: "string"
                        description: "Summary of the document content"
                        example: "API rate limit policy: 100 req/min free, 1000 req/min pro."
                      - type: "null"
                  title:
                    anyOf:
                      - type: "string"
                        description: "Title of the document"
                        example: "API Rate Limiting Policy"
                      - type: "null"
                  type:
                    type: "string"
                    enum:
                      - "text"
                      - "pdf"
                      - "tweet"
                      - "google_doc"
                      - "google_slide"
                      - "google_sheet"
                      - "image"
                      - "video"
                      - "audio"
                      - "notion_doc"
                      - "webpage"
                      - "onedrive"
                      - "github_markdown"
                      - "granola"
                    description: "Type of the document"
                    example: "text"
                  updatedAt:
                    type: "string"
                    description: "Last update timestamp"
                    example: "1970-01-01T00:00:00.000Z"
                    format: "datetime"
                  url:
                    anyOf:
                      - anyOf:
                          - type: "string"
                          - type: "null"
                        description: "URL of the document"
                        example: "https://docs.example.com/guides/rate-limits"
                      - type: "null"
                  filepath:
                    anyOf:
                      - type: "string"
                      - type: "null"
                  memories:
                    description: "Memories extracted from this document. Omitted when the document has no memories (e.g. still processing)."
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          minLength: 22
                          maxLength: 22
                        memory:
                          type: "string"
                        createdAt:
                          type: "string"
                          description: "Creation timestamp"
                          format: "datetime"
                        updatedAt:
                          anyOf:
                            - type: "string"
                            - type: "null"
                          description: "Last update timestamp"
                          format: "datetime"
                        isLatest:
                          type: "boolean"
                        isForgotten:
                          type: "boolean"
                        isStatic:
                          type: "boolean"
                        isInference:
                          type: "boolean"
                        version:
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        sourceCount:
                          type: "integer"
                          minimum: -2147483648
                          maximum: 2147483647
                        metadata:
                          anyOf:
                            - anyOf:
                                - anyOf:
                                    - type: "string"
                                    - type: "number"
                                    - type: "boolean"
                                    - type: "null"
                                - type: "object"
                                  propertyNames:
                                    type: "string"
                                  additionalProperties: {}
                                - type: "array"
                                  items: {}
                            - type: "null"
                        parentMemoryId:
                          anyOf:
                            - type: "string"
                              minLength: 22
                              maxLength: 22
                            - type: "null"
                        rootMemoryId:
                          anyOf:
                            - type: "string"
                              minLength: 22
                              maxLength: 22
                            - type: "null"
                      required:
                        - "id"
                        - "memory"
                        - "createdAt"
                        - "updatedAt"
                        - "isLatest"
                        - "isForgotten"
                        - "isStatic"
                        - "isInference"
                        - "version"
                        - "sourceCount"
                        - "metadata"
                        - "parentMemoryId"
                        - "rootMemoryId"
                required:
                  - "connectionId"
                  - "content"
                  - "createdAt"
                  - "customId"
                  - "id"
                  - "metadata"
                  - "ogImage"
                  - "raw"
                  - "source"
                  - "taskType"
                  - "status"
                  - "dreamingStatus"
                  - "summary"
                  - "title"
                  - "type"
                  - "updatedAt"
                  - "filepath"
          description: "Successfully retrieved document"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Document not found"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "Get document"
      tags:
        - "Documents"
      x-codeSamples:
        - lang: "typescript"
          label: "TypeScript SDK"
          source: "import Supermemory from \"supermemory\";\n\nconst client = new Supermemory({\n  apiKey: process.env.SUPERMEMORY_API_KEY,\n});\n\nconst doc = await client.documents.get(\"doc_abc123\");\nconsole.log(doc.status); // queued | extracting | … | done | failed"
        - lang: "python"
          label: "Python SDK"
          source: "from supermemory import Supermemory\n\nclient = Supermemory()  # uses SUPERMEMORY_API_KEY\n\ndoc = client.documents.get(\"doc_abc123\")\nprint(doc.status)"
        - lang: "bash"
          label: "cURL"
          source: "curl \"https://api.supermemory.ai/v3/documents/doc_abc123\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\""
      x-speakeasy-name-override: get
      x-speakeasy-group: documents
    delete:
      operationId: "deleteV3DocumentsById"
      description: "Delete a document by ID or customId"
      responses:
        "204":
          description: "Document deleted successfully"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Document not found"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "Delete document by ID or customId"
      tags:
        - "Ingest"
      parameters:
        - in: "path"
          name: "id"
          schema:
            type: "string"
          required: true
      x-codeSamples:
        - lang: "typescript"
          label: "TypeScript SDK"
          source: "import Supermemory from \"supermemory\";\n\nconst client = new Supermemory({\n  apiKey: process.env.SUPERMEMORY_API_KEY,\n});\n\nawait client.documents.delete(\"doc_abc123\");\n// or by customId: await client.documents.delete(\"chat_session_1\");"
        - lang: "python"
          label: "Python SDK"
          source: "from supermemory import Supermemory\n\nclient = Supermemory()  # uses SUPERMEMORY_API_KEY\n\nclient.documents.delete(\"doc_abc123\")"
        - lang: "bash"
          label: "cURL"
          source: "curl -X DELETE \"https://api.supermemory.ai/v3/documents/doc_abc123\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\""
      x-speakeasy-name-override: delete
      x-speakeasy-group: documents
  /v3/documents/file:
    post:
      operationId: "postV3DocumentsFile"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: "object"
              properties:
                file:
                  description: "File to upload and process"
                  format: "binary"
                  type: "string"
                containerTag:
                  description: "Optional container tag (e.g., 'user_123'). Use this for a single tag."
                  example: "user_alex"
                  type: "string"
                containerTags:
                  description: "Optional container tags. Can be either a JSON string of an array (e.g., '[\"user_123\", \"project_123\"]') or a single string (e.g., 'user_123'). Single strings will be automatically converted to an array."
                  deprecated: true
                  x-hidden: true
                  type: "string"
                fileType:
                  description: "Optional file type override to force specific processing behavior. Valid values: text, pdf, tweet, google_doc, google_slide, google_sheet, image, video, notion_doc, webpage, onedrive"
                  example: "image"
                  x-hidden: true
                  type: "string"
                mimeType:
                  description: "Required when fileType is 'image' or 'video'. Specifies the exact MIME type to use (e.g., 'image/png', 'image/jpeg', 'video/mp4', 'video/webm')"
                  x-hidden: true
                  type: "string"
                metadata:
                  description: "Optional metadata for the document as a JSON string. This is used to store additional information about the document. Keys must be strings and values can be strings, numbers, or booleans."
                  example: "{\"category\": \"technology\", \"isPublic\": true, \"readingTime\": 5}"
                  type: "string"
                filterByMetadata:
                  description: "Optional metadata filter as a JSON string. Scopes which existing memories are pulled as context during ingestion. Scalar values match exactly (AND across keys); array values match ANY (OR within key)."
                  example: "{\"department\": \"engineering\"}"
                  type: "string"
                filepath:
                  description: "Optional file path for the uploaded file (e.g., '/documents/reports/file.pdf'). Used by supermemoryfs to map documents to filesystem paths."
                  example: "/documents/reports/file.pdf"
                  x-hidden: true
                  type: "string"
                useAdvancedProcessing:
                  description: "DEPRECATED: This field is no longer used. Advanced PDF processing is now automatic with our hybrid Mistral OCR + Gemini pipeline. This parameter will be accepted but ignored for backwards compatibility."
                  example: "true"
                  deprecated: true
                  type: "string"
                customId:
                  description: "Optional custom ID of the document. Max 100 characters, alphanumeric with hyphens, underscores, and colons only."
                  example: "mem_abc123"
                  type: "string"
                  maxLength: 100
                  pattern: "^[a-zA-Z0-9_:-]+$"
                entityContext:
                  description: "Optional entity context for this container tag. Max 1500 characters. Used during document processing to guide memory extraction."
                  example: "User's name is {XYZ}"
                  type: "string"
                  maxLength: 1500
                taskType:
                  description: "Task type: \"memory\" (default) for full context layer with SuperRAG built in, \"superrag\" for managed RAG as a service."
                  example: "memory"
                  type: "string"
                  enum:
                    - "memory"
                    - "superrag"
                dreaming:
                  description: "Processing mode. \"dynamic\" (default) groups related documents together so memories form from coherent, logical units rather than one isolated entry at a time. \"instant\" processes each document on its own right away, and bills one extra operation per document."
                  example: "instant"
                  type: "string"
                  enum:
                    - "instant"
                    - "dynamic"
              required:
                - "file"
              description: "File upload form data schema"
              example:
                file: {}
                containerTag: "user"
      description: "Upload a file to be processed"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                required:
                  - "id"
                  - "status"
                properties:
                  id:
                    type: "string"
                    description: "Unique identifier of the document"
                  status:
                    type: "string"
                    description: "Status of the document"
                additionalProperties: false
          description: "Successfully uploaded file"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "Upload a file"
      tags:
        - "Ingest"
      x-codeSamples:
        - lang: "typescript"
          label: "TypeScript SDK"
          source: "import Supermemory from \"supermemory\";\n\nconst client = new Supermemory({\n  apiKey: process.env.SUPERMEMORY_API_KEY,\n});\n\nimport fs from \"fs\";\n\nconst doc = await client.documents.uploadFile({\n  file: fs.createReadStream(\"./handbook.pdf\"),\n  // multipart field; pass a single tag string or JSON array string\n  containerTags: \"user_123\",\n});\n\nconsole.log(doc.id, doc.status);"
        - lang: "python"
          label: "Python SDK"
          source: "from supermemory import Supermemory\n\nclient = Supermemory()  # uses SUPERMEMORY_API_KEY\n\nfrom pathlib import Path\n\nwith Path(\"handbook.pdf\").open(\"rb\") as f:\n    doc = client.documents.upload_file(\n        file=f,\n        container_tags=\"user_123\",\n    )\nprint(doc.id, doc.status)"
        - lang: "bash"
          label: "cURL"
          source: "curl -X POST \"https://api.supermemory.ai/v3/documents/file\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\" \\\n  -F \"file=@./handbook.pdf\" \\\n  -F \"containerTag=user_123\""
      x-speakeasy-name-override: uploadFile
      x-speakeasy-group: documents
  /v3/documents/list:
    post:
      operationId: "postV3DocumentsList"
      description: "Retrieves a paginated list of documents with their metadata and workflow status"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  memories:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        connectionId:
                          anyOf:
                            - anyOf:
                                - type: "string"
                                  minLength: 22
                                  maxLength: 22
                                - type: "null"
                              description: "Optional ID of connection the document was created from. This is useful for identifying the source of the document."
                              example: "conn_gdrive_8f2k"
                            - type: "null"
                        containerTags:
                          readOnly: true
                          description: "Optional tags this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                          deprecated: true
                          x-hidden: true
                          type: "array"
                          items:
                            type: "string"
                        createdAt:
                          type: "string"
                          description: "Creation timestamp"
                          example: "1970-01-01T00:00:00.000Z"
                          format: "datetime"
                        customId:
                          anyOf:
                            - type: "string"
                              maxLength: 255
                              description: "Optional custom ID of the document. This could be an ID from your database that will uniquely identify this document."
                              example: "doc-api-rate-limits"
                            - type: "null"
                        filepath:
                          anyOf:
                            - type: "string"
                            - type: "null"
                        id:
                          type: "string"
                          minLength: 22
                          maxLength: 22
                          description: "Unique identifier of the document."
                          example: "acxV5LHMEsG2hMSNb4umbn"
                        metadata:
                          anyOf:
                            - anyOf:
                                - anyOf:
                                    - type: "string"
                                    - type: "number"
                                    - type: "boolean"
                                    - type: "null"
                                - type: "object"
                                  propertyNames:
                                    type: "string"
                                  additionalProperties: {}
                                - type: "array"
                                  items: {}
                              description: "Optional metadata for the document. This is used to store additional information about the document. You can use this to store any additional information you need about the document. Metadata can be filtered through. Keys must be strings and are case sensitive. Values can be strings, numbers, or booleans. You cannot nest objects."
                              example:
                                source: "upload"
                                language: "en"
                            - type: "null"
                        status:
                          type: "string"
                          enum:
                            - "unknown"
                            - "queued"
                            - "extracting"
                            - "chunking"
                            - "embedding"
                            - "indexing"
                            - "done"
                            - "failed"
                          description: "Status of the document"
                          example: "done"
                        summary:
                          anyOf:
                            - type: "string"
                              description: "Summary of the document content"
                              example: "API rate limit policy: 100 req/min free, 1000 req/min pro."
                            - type: "null"
                        title:
                          anyOf:
                            - type: "string"
                              description: "Title of the document"
                              example: "API Rate Limiting Policy"
                            - type: "null"
                        type:
                          type: "string"
                          enum:
                            - "text"
                            - "pdf"
                            - "tweet"
                            - "google_doc"
                            - "google_slide"
                            - "google_sheet"
                            - "image"
                            - "video"
                            - "audio"
                            - "notion_doc"
                            - "webpage"
                            - "onedrive"
                            - "github_markdown"
                            - "granola"
                          description: "Type of the document"
                          example: "text"
                        updatedAt:
                          type: "string"
                          description: "Last update timestamp"
                          example: "1970-01-01T00:00:00.000Z"
                          format: "datetime"
                        url:
                          anyOf:
                            - anyOf:
                                - type: "string"
                                - type: "null"
                              description: "URL of the document"
                              example: "https://docs.example.com/guides/rate-limits"
                            - type: "null"
                        content:
                          description: "Content of the document (only included when includeContent=true)"
                          example: "This is the content of the document..."
                          type: "string"
                      required:
                        - "connectionId"
                        - "createdAt"
                        - "customId"
                        - "filepath"
                        - "id"
                        - "metadata"
                        - "status"
                        - "summary"
                        - "title"
                        - "type"
                        - "updatedAt"
                  pagination:
                    type: "object"
                    properties:
                      currentPage:
                        type: "number"
                      limit:
                        default: 10
                        type: "number"
                        maximum: 1100
                      totalItems:
                        type: "number"
                      totalPages:
                        type: "number"
                    required:
                      - "currentPage"
                      - "totalItems"
                      - "totalPages"
                    description: "Pagination metadata"
                    example:
                      currentPage: 1
                      limit: 10
                      totalItems: 100
                      totalPages: 10
                required:
                  - "memories"
                  - "pagination"
                description: "List of documents"
                example:
                  memories:
                    - id: "acxV5LHMEsG2hMSNb4umbn"
                      title: "API Rate Limiting Policy"
                      summary: "API rate limit policy: 100 req/min free, 1000 req/min pro."
                      status: "done"
                      type: "text"
                      createdAt: "2025-04-15T09:30:00.000Z"
                      updatedAt: "2025-04-15T09:31:00.000Z"
                  pagination:
                    currentPage: 1
                    limit: 10
                    totalItems: 100
                    totalPages: 10
          description: "Successfully retrieved documents"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Invalid request"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "List documents"
      tags:
        - "Documents"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                containerTags:
                  description: "Optional tags this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                  deprecated: true
                  x-hidden: true
                  type: "array"
                  items:
                    type: "string"
                    maxLength: 100
                    pattern: "^[a-zA-Z0-9_:-]+$"
                filters:
                  description: "Optional filters to apply to the search. Can be a JSON string or Query object."
                  $ref: "#/components/schemas/QueryFilter"
                includeContent:
                  default: false
                  description: "Whether to include the content field in the response. Warning: This can make responses significantly larger."
                  example: false
                  type: "boolean"
                limit:
                  description: "Number of items per page"
                  example: "10"
                  anyOf:
                    - type: "string"
                      pattern: "^\\d+$"
                    - type: "number"
                order:
                  default: "desc"
                  description: "Sort order"
                  example: "desc"
                  type: "string"
                  enum:
                    - "asc"
                    - "desc"
                page:
                  description: "Page number to fetch"
                  example: "1"
                  anyOf:
                    - type: "string"
                      pattern: "^\\d+$"
                    - type: "number"
                sort:
                  default: "createdAt"
                  description: "Field to sort by"
                  example: "createdAt"
                  type: "string"
                  enum:
                    - "createdAt"
                    - "updatedAt"
                filepath:
                  description: "Filter documents by filepath. Exact match for full paths, prefix match if ending with /"
                  x-hidden: true
                  type: "string"
              description: "Query parameters for listing documents"
              example:
                filters:
                  AND:
                    - filterType: "metadata"
                      key: "group"
                      negate: false
                      value: "jira_users"
                    - filterType: "numeric"
                      key: "timestamp"
                      negate: false
                      numericOperator: ">"
                      value: "1742745777"
                limit: 10
                order: "desc"
                page: 1
                sort: "createdAt"
      x-codeSamples:
        - lang: "typescript"
          label: "TypeScript SDK"
          source: "import Supermemory from \"supermemory\";\n\nconst client = new Supermemory({\n  apiKey: process.env.SUPERMEMORY_API_KEY,\n});\n\nconst page = await client.documents.list({\n  containerTags: [\"user_123\"],\n  limit: 20,\n});\nfor (const doc of page.memories ?? page.documents ?? []) {\n  console.log(doc.id, doc.status);\n}"
        - lang: "python"
          label: "Python SDK"
          source: "from supermemory import Supermemory\n\nclient = Supermemory()  # uses SUPERMEMORY_API_KEY\n\npage = client.documents.list(container_tags=[\"user_123\"], limit=20)\nprint(page)"
        - lang: "bash"
          label: "cURL"
          source: "curl -X POST \"https://api.supermemory.ai/v3/documents/list\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"containerTags\": [\"user_123\"], \"limit\": 20 }'"
      x-speakeasy-name-override: list
      x-speakeasy-group: documents
  /v3/documents/processing:
    get:
      operationId: "getV3DocumentsProcessing"
      description: "Get documents that are currently being processed. Default `view=active` is the live in-flight queue. `view=all` also includes failed and stuck documents."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  documents:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          minLength: 22
                          maxLength: 22
                          description: "Unique identifier of the document."
                          example: "acxV5LHMEsG2hMSNb4umbn"
                        customId:
                          anyOf:
                            - type: "string"
                              maxLength: 255
                              description: "Optional custom ID of the document. This could be an ID from your database that will uniquely identify this document."
                              example: "doc-api-rate-limits"
                            - type: "null"
                        title:
                          anyOf:
                            - type: "string"
                              description: "Title of the document"
                              example: "API Rate Limiting Policy"
                            - type: "null"
                        type:
                          type: "string"
                          enum:
                            - "text"
                            - "pdf"
                            - "tweet"
                            - "google_doc"
                            - "google_slide"
                            - "google_sheet"
                            - "image"
                            - "video"
                            - "audio"
                            - "notion_doc"
                            - "webpage"
                            - "onedrive"
                            - "github_markdown"
                            - "granola"
                          description: "Type of the document"
                          example: "text"
                        status:
                          type: "string"
                          enum:
                            - "unknown"
                            - "queued"
                            - "extracting"
                            - "chunking"
                            - "embedding"
                            - "indexing"
                            - "done"
                            - "failed"
                          description: "Status of the document"
                          example: "done"
                        summary:
                          anyOf:
                            - type: "string"
                              description: "Summary of the document content"
                              example: "API rate limit policy: 100 req/min free, 1000 req/min pro."
                            - type: "null"
                        connectionId:
                          anyOf:
                            - anyOf:
                                - type: "string"
                                  minLength: 22
                                  maxLength: 22
                                - type: "null"
                              description: "Optional ID of connection the document was created from. This is useful for identifying the source of the document."
                              example: "conn_gdrive_8f2k"
                            - type: "null"
                        createdAt:
                          type: "string"
                          description: "Creation timestamp"
                          example: "1970-01-01T00:00:00.000Z"
                          format: "datetime"
                        updatedAt:
                          type: "string"
                          description: "Last update timestamp"
                          example: "1970-01-01T00:00:00.000Z"
                          format: "datetime"
                        metadata:
                          anyOf:
                            - anyOf:
                                - anyOf:
                                    - type: "string"
                                    - type: "number"
                                    - type: "boolean"
                                    - type: "null"
                                - type: "object"
                                  propertyNames:
                                    type: "string"
                                  additionalProperties: {}
                                - type: "array"
                                  items: {}
                              description: "Optional metadata for the document. This is used to store additional information about the document. You can use this to store any additional information you need about the document. Metadata can be filtered through. Keys must be strings and are case sensitive. Values can be strings, numbers, or booleans. You cannot nest objects."
                              example:
                                source: "upload"
                                language: "en"
                            - type: "null"
                        containerTags:
                          readOnly: true
                          description: "Optional tags this document should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to group documents."
                          deprecated: true
                          x-hidden: true
                          type: "array"
                          items:
                            type: "string"
                        stuck:
                          description: "True when the document is not done/failed and has not been updated for 4 hours"
                          example: false
                          type: "boolean"
                        errorCode:
                          description: "Stable error code when processing failed, if available"
                          example: null
                          anyOf:
                            - type: "string"
                            - type: "null"
                        errorMessage:
                          description: "Human-readable processing error, if available"
                          example: null
                          anyOf:
                            - type: "string"
                            - type: "null"
                      required:
                        - "id"
                        - "customId"
                        - "title"
                        - "type"
                        - "status"
                        - "summary"
                        - "connectionId"
                        - "createdAt"
                        - "updatedAt"
                        - "metadata"
                  totalCount:
                    type: "number"
                    description: "Total number of processing documents"
                    example: 5
                  pagination:
                    description: "Present when `view=all`"
                    type: "object"
                    properties:
                      currentPage:
                        type: "number"
                      limit:
                        default: 10
                        type: "number"
                        maximum: 1100
                      totalItems:
                        type: "number"
                      totalPages:
                        type: "number"
                    required:
                      - "currentPage"
                      - "totalItems"
                      - "totalPages"
                    example:
                      currentPage: 1
                      limit: 10
                      totalItems: 100
                      totalPages: 10
                required:
                  - "documents"
                  - "totalCount"
                description: "List of documents currently being processed"
                example:
                  documents:
                    - id: "doc_123"
                      title: "My Document"
                      type: "text"
                      status: "extracting"
                      createdAt: "2024-12-27T12:00:00Z"
                      updatedAt: "2024-12-27T12:01:00Z"
                  totalCount: 5
          description: "Successfully retrieved processing documents"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Bad request"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "Get processing documents"
      tags:
        - "Documents"
      parameters:
        - in: "query"
          name: "view"
          schema:
            default: "active"
            example: "all"
            type: "string"
            enum:
              - "active"
              - "all"
          description: "`active` returns in-flight documents updated in the last 4 hours. `all` also includes failed and stuck documents."
        - in: "query"
          name: "containerTags"
          schema:
            example: "user_123,sm_project_default"
            type: "string"
          description: "Comma-separated container tags to filter by"
        - in: "query"
          name: "page"
          schema:
            example: "1"
            anyOf:
              - type: "string"
                pattern: "^\\d+$"
              - type: "number"
          description: "Page number to fetch. Used with `view=all`."
        - in: "query"
          name: "limit"
          schema:
            example: "50"
            anyOf:
              - type: "string"
                pattern: "^\\d+$"
              - type: "number"
          description: "Number of items per page. Used with `view=all`."
      x-codeSamples:
        - lang: "typescript"
          label: "TypeScript SDK"
          source: "import Supermemory from \"supermemory\";\n\nconst client = new Supermemory({\n  apiKey: process.env.SUPERMEMORY_API_KEY,\n});\n\nconst processing = await client.documents.listProcessing();\nconsole.log(processing);"
        - lang: "python"
          label: "Python SDK"
          source: "from supermemory import Supermemory\n\nclient = Supermemory()  # uses SUPERMEMORY_API_KEY\n\nprocessing = client.documents.list_processing()\nprint(processing)"
        - lang: "bash"
          label: "cURL"
          source: "curl \"https://api.supermemory.ai/v3/documents/processing?view=all\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\""
      x-speakeasy-name-override: listProcessing
      x-speakeasy-group: documents
  /v3/documents/{id}/chunks:
    get:
      operationId: "getV3DocumentsByIdChunks"
      parameters:
        - in: "path"
          name: "id"
          schema:
            type: "string"
          required: true
      description: "Get all chunks for a document, ordered by position"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  documentId:
                    type: "string"
                    description: "The document ID"
                  chunks:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          description: "Unique identifier of the chunk"
                        position:
                          type: "number"
                          description: "Sequential position within the document"
                        content:
                          type: "string"
                          description: "Chunk text content"
                        type:
                          type: "string"
                          description: "Chunk type (text or image)"
                        metadata:
                          description: "Optional metadata attached to the chunk"
                          anyOf:
                            - type: "object"
                              propertyNames:
                                type: "string"
                              additionalProperties: {}
                            - type: "null"
                        createdAt:
                          type: "string"
                          description: "Creation timestamp"
                          format: "datetime"
                      required:
                        - "id"
                        - "position"
                        - "content"
                        - "type"
                        - "createdAt"
                      description: "A single chunk of a document"
                    description: "Ordered list of chunks"
                  total:
                    type: "number"
                    description: "Total number of chunks"
                required:
                  - "documentId"
                  - "chunks"
                  - "total"
                description: "Response for document chunks endpoint"
          description: "Document chunks retrieved successfully"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Document not found"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "Get document chunks"
      tags:
        - "Documents"
      x-codeSamples:
        - lang: "bash"
          label: "cURL"
          source: "curl \"https://api.supermemory.ai/v3/documents/doc_abc123/chunks\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\""
      x-speakeasy-name-override: chunks
      x-speakeasy-group: documents
  /v3/documents/{id}/file-url:
    get:
      operationId: "getV3DocumentsByIdFileUrl"
      parameters:
        - in: "path"
          name: "id"
          schema:
            type: "string"
          required: true
      description: "Get a fresh presigned URL for a document's file. Returns a time-limited URL (24h) that can be used to download the file."
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  url:
                    type: "string"
                required:
                  - "url"
          description: "Presigned URL generated successfully"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Document not found or has no file"
      summary: "Get presigned file URL"
      tags:
        - "Documents"
      x-codeSamples:
        - lang: "bash"
          label: "cURL"
          source: "curl \"https://api.supermemory.ai/v3/documents/doc_abc123/file-url\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\""
      x-speakeasy-name-override: fileUrl
      x-speakeasy-group: documents
  /v3/documents/bulk:
    delete:
      operationId: "deleteV3DocumentsBulk"
      description: "Bulk delete documents by IDs or container tags"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                    description: "Whether the bulk deletion was successful"
                    example: true
                  deletedCount:
                    type: "number"
                    description: "Number of documents successfully deleted"
                    example: 2
                  errors:
                    description: "Array of errors for documents that couldn't be deleted (only applicable when deleting by IDs)"
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                        error:
                          type: "string"
                      required:
                        - "id"
                        - "error"
                  containerTags:
                    description: "Container tags that were processed (only applicable when deleting by container tags)"
                    deprecated: true
                    x-hidden: true
                    type: "array"
                    items:
                      type: "string"
                required:
                  - "success"
                  - "deletedCount"
                description: "Response for bulk document deletion"
          description: "Bulk deletion completed successfully"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Bad request - either 'ids' or 'containerTags' must be provided"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Internal server error"
      summary: "Bulk delete documents"
      tags:
        - "Ingest"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                ids:
                  description: "Array of document IDs to delete (max 100 at once)"
                  minItems: 1
                  maxItems: 100
                  type: "array"
                  items:
                    type: "string"
                containerTags:
                  description: "Array of container tags - all documents in these containers will be deleted"
                  deprecated: true
                  x-hidden: true
                  minItems: 1
                  type: "array"
                  items:
                    type: "string"
                    maxLength: 100
                    pattern: "^[a-zA-Z0-9_:-]+$"
                filepath:
                  description: "Delete documents matching this filepath. Exact match for full paths, prefix match if ending with /"
                  x-hidden: true
                  type: "string"
              description: "Request body for bulk deleting documents by IDs or container tags"
              example:
                ids:
                  - "acxV5LHMEsG2hMSNb4umbn"
                  - "bxcV5LHMEsG2hMSNb4umbn"
      x-codeSamples:
        - lang: "typescript"
          label: "TypeScript SDK"
          source: "import Supermemory from \"supermemory\";\n\nconst client = new Supermemory({\n  apiKey: process.env.SUPERMEMORY_API_KEY,\n});\n\nconst res = await client.documents.deleteBulk({\n  ids: [\"doc_abc123\", \"doc_def456\"],\n});\nconsole.log(res);"
        - lang: "python"
          label: "Python SDK"
          source: "from supermemory import Supermemory\n\nclient = Supermemory()  # uses SUPERMEMORY_API_KEY\n\nres = client.documents.delete_bulk(ids=[\"doc_abc123\", \"doc_def456\"])\nprint(res)"
        - lang: "bash"
          label: "cURL"
          source: "curl -X DELETE \"https://api.supermemory.ai/v3/documents/bulk\" \\\n  -H \"Authorization: Bearer $SUPERMEMORY_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"ids\": [\"doc_abc123\", \"doc_def456\"] }'"
      x-speakeasy-name-override: deleteBulk
      x-speakeasy-group: documents
  /v3/search:
    post:
      operationId: "postV3Search"
      description: "Search memories with advanced filtering"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  results:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        chunks:
                          type: "array"
                          items:
                            type: "object"
                            properties:
                              content:
                                type: "string"
                                description: "Content of the matching chunk"
                                example: "Rate limit headers are included in every response. Clients should implement exponential backoff when receiving 429 responses."
                              isRelevant:
                                type: "boolean"
                                description: "Whether this chunk is relevant to the query"
                                example: true
                              position:
                                type: "number"
                                description: "Position of this chunk within the source document (0-indexed). Use it to order chunks and to locate surrounding context chunks (isRelevant=false) relative to the matching ones."
                                example: 3
                              score:
                                type: "number"
                                description: "Similarity score for this chunk"
                                example: 0.85
                                maximum: 1
                                minimum: 0
                            required:
                              - "content"
                              - "isRelevant"
                              - "position"
                              - "score"
                            description: "Matching content chunk"
                            example:
                              content: "Rate limit headers are included in every response. Clients should implement exponential backoff when receiving 429 responses."
                              isRelevant: true
                              position: 3
                              score: 0.85
                          description: "Matching content chunks from the document"
                          example:
                            - content: "Rate limit headers are included in every response. Clients should implement exponential backoff when receiving 429 responses."
                              isRelevant: true
                              position: 3
                              score: 0.85
                        createdAt:
                          type: "string"
                          description: "Document creation date"
                          example: "1970-01-01T00:00:00.000Z"
                          format: "datetime"
                        documentId:
                          type: "string"
                          description: "ID of the matching document"
                          example: "doc_xyz789"
                        metadata:
                          anyOf:
                            - type: "object"
                              propertyNames:
                                type: "string"
                              additionalProperties: {}
                            - type: "null"
                          description: "Document metadata"
                          example:
                            source: "upload"
                            language: "en"
                        score:
                          type: "number"
                          description: "Relevance score of the match"
                          example: 0.95
                          maximum: 1
                          minimum: 0
                        summary:
                          description: "Document summary"
                          example: "API rate limit policy: 100 req/min free, 1000 req/min pro."
                          anyOf:
                            - type: "string"
                            - type: "null"
                        content:
                          description: "Full document content (only included when includeFullDocs=true)"
                          example: "Our API rate limits are 100 req/min on free and 1000 on pro. Clients should use exponential backoff on 429s."
                          anyOf:
                            - type: "string"
                            - type: "null"
                        title:
                          anyOf:
                            - type: "string"
                            - type: "null"
                          description: "Document title"
                          example: "API Rate Limiting Policy"
                        updatedAt:
                          type: "string"
                          description: "Document last update date"
                          example: "1970-01-01T00:00:00.000Z"
                          format: "datetime"
                        type:
                          anyOf:
                            - type: "string"
                            - type: "null"
                          description: "Document type"
                          example: "web"
                      required:
                        - "chunks"
                        - "createdAt"
                        - "documentId"
                        - "metadata"
                        - "score"
                        - "title"
                        - "updatedAt"
                        - "type"
                  timing:
                    type: "number"
                  total:
                    type: "number"
                required:
                  - "results"
                  - "timing"
                  - "total"
          description: "Search results"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Invalid request parameters"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Unauthorized"
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Search quota or credits exhausted"
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Document not found"
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Server error"
      summary: "Search documents"
      tags:
        - "Documents"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                chunkThreshold:
                  description: "Threshold / sensitivity for chunk selection. 0 is least sensitive (returns most chunks, more results), 1 is most sensitive (returns lesser chunks, accurate results)"
                  example: 0.5
                  maximum: 1
                  minimum: 0
                  default: 0
                  type: "number"
                containerTag:
                  description: "Optional single container tag. Use this or containerTags."
                  example: "user_alex"
                  type: "string"
                  maxLength: 100
                  pattern: "^[a-zA-Z0-9_:-]+$"
                containerTags:
                  description: "Optional tags this search should be containerized by. This can be an ID for your user, a project ID, or any other identifier you wish to use to filter documents."
                  type: "array"
                  items:
                    type: "string"
                    maxLength: 100
                    pattern: "^[a-zA-Z0-9_:-]+$"
                docId:
                  description: "Optional document ID to search within. You can use this to find chunks in a very large document."
                  type: "string"
                  maxLength: 255
                documentThreshold:
                  description: "DEPRECATED: This field is no longer used in v3 search. The search now uses chunkThreshold only. This parameter will be ignored."
                  maximum: 1
                  minimum: 0
                  deprecated: true
                  default: 0
                  type: "number"
                filters:
                  description: "Optional filters to apply to the search. Can be a JSON string or Query object."
                  $ref: "#/components/schemas/QueryFilter"
                includeFullDocs:
                  default: false
[...]
