// This file was auto-generated by Fern from our API Definition.

import * as Supermemory from "./api/index.js";
import { ConnectorsClient } from "./api/resources/connectors/client/Client.js";
import { DocumentsClient } from "./api/resources/documents/client/Client.js";
import { FeedbackClient } from "./api/resources/feedback/client/Client.js";
import { MemoriesClient } from "./api/resources/memories/client/Client.js";
import { NamespacesClient } from "./api/resources/namespaces/client/Client.js";
import { OrganizationClient } from "./api/resources/organization/client/Client.js";
import { ProfilesClient } from "./api/resources/profiles/client/Client.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "./BaseClient.js";
import { mergeHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import { mergeAdditionalBodyParameters } from "./core/requestBody.js";
import * as environments from "./environments.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace SupermemoryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SupermemoryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SupermemoryClient.Options>;
    protected _documents: DocumentsClient | undefined;
    protected _profiles: ProfilesClient | undefined;
    protected _memories: MemoriesClient | undefined;
    protected _connectors: ConnectorsClient | undefined;
    protected _namespaces: NamespacesClient | undefined;
    protected _organization: OrganizationClient | undefined;
    protected _feedback: FeedbackClient | undefined;

    constructor(options: SupermemoryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get documents(): DocumentsClient {
        return (this._documents ??= new DocumentsClient(this._options));
    }

    public get profiles(): ProfilesClient {
        return (this._profiles ??= new ProfilesClient(this._options));
    }

    public get memories(): MemoriesClient {
        return (this._memories ??= new MemoriesClient(this._options));
    }

    public get connectors(): ConnectorsClient {
        return (this._connectors ??= new ConnectorsClient(this._options));
    }

    public get namespaces(): NamespacesClient {
        return (this._namespaces ??= new NamespacesClient(this._options));
    }

    public get organization(): OrganizationClient {
        return (this._organization ??= new OrganizationClient(this._options));
    }

    public get feedback(): FeedbackClient {
        return (this._feedback ??= new FeedbackClient(this._options));
    }

    /**
     * Turn text or a supported URL into searchable, evolving memory. Supply a new ID to create a document, or reuse an existing ID to append new information while preserving its history.
     *
     * @param {string} namespace - The isolated namespace. This can be an ID for your user, a project ID, or any other identifier you wish to use to scope documents.
     * @param {Supermemory.AddRequest} request
     * @param {SupermemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Supermemory.BadRequestError}
     * @throws {@link Supermemory.UnauthorizedError}
     * @throws {@link Supermemory.PaymentRequiredError}
     * @throws {@link Supermemory.ForbiddenError}
     * @throws {@link Supermemory.ConflictError}
     * @throws {@link Supermemory.InternalServerError}
     * @throws {@link errors.SupermemoryError}
     * @throws {@link errors.SupermemoryTimeoutError}
     *
     * @example
     *     await client.add("user_alex", {
     *         content: "Supermemory turns unstructured content into evolving memory."
     *     })
     */
    public add(
        namespace: string,
        request: Supermemory.AddRequest,
        requestOptions?: SupermemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Supermemory.AddResponse> {
        return core.HttpResponsePromise.fromPromise(this.__add(namespace, request, requestOptions));
    }

    private async __add(
        namespace: string,
        request: Supermemory.AddRequest,
        requestOptions?: SupermemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Supermemory.AddResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SupermemoryEnvironment.Default,
                `ns/${core.url.encodePathParam(namespace)}/document`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Supermemory.AddResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Supermemory.BadRequestError(
                        _response.error.body as Supermemory.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Supermemory.UnauthorizedError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 402:
                    throw new Supermemory.PaymentRequiredError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Supermemory.ForbiddenError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 409:
                    throw new Supermemory.ConflictError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Supermemory.InternalServerError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SupermemoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/ns/{namespace}/document");
    }

    /**
     * Recall the most relevant learned context and source passages from a namespace. Hybrid search combines memories with document chunks by default, with optional query rewriting, reranking, and supporting context attachments.
     *
     * @param {string} namespace - The isolated namespace to search. This can be an ID for your user, a project ID, or any other identifier you wish to use to scope memories.
     * @param {Supermemory.SearchRequest} request
     * @param {SupermemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Supermemory.BadRequestError}
     * @throws {@link Supermemory.UnauthorizedError}
     * @throws {@link Supermemory.PaymentRequiredError}
     * @throws {@link Supermemory.ForbiddenError}
     * @throws {@link Supermemory.InternalServerError}
     * @throws {@link errors.SupermemoryError}
     * @throws {@link errors.SupermemoryTimeoutError}
     *
     * @example
     *     await client.search("user_alex", {
     *         query: "what are the API rate limits"
     *     })
     */
    public search(
        namespace: string,
        request: Supermemory.SearchRequest,
        requestOptions?: SupermemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Supermemory.SearchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__search(namespace, request, requestOptions));
    }

    private async __search(
        namespace: string,
        request: Supermemory.SearchRequest,
        requestOptions?: SupermemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Supermemory.SearchResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SupermemoryEnvironment.Default,
                `ns/${core.url.encodePathParam(namespace)}/search`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Supermemory.SearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Supermemory.BadRequestError(
                        _response.error.body as Supermemory.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Supermemory.UnauthorizedError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 402:
                    throw new Supermemory.PaymentRequiredError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Supermemory.ForbiddenError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Supermemory.InternalServerError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SupermemoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/ns/{namespace}/search");
    }

    /**
     * Read a continuously maintained understanding of the subject represented by this namespace. Stable facts, evolving context, and selected custom buckets are returned together without requiring a search query.
     *
     * @param {string} namespace - The isolated namespace to search. This can be an ID for your user, a project ID, or any other identifier you wish to use to scope memories.
     * @param {Supermemory.ProfileRequest} request
     * @param {SupermemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Supermemory.BadRequestError}
     * @throws {@link Supermemory.UnauthorizedError}
     * @throws {@link Supermemory.ForbiddenError}
     * @throws {@link Supermemory.InternalServerError}
     * @throws {@link errors.SupermemoryError}
     * @throws {@link errors.SupermemoryTimeoutError}
     *
     * @example
     *     await client.profile("user_alex")
     */
    public profile(
        namespace: string,
        request: Supermemory.ProfileRequest = {},
        requestOptions?: SupermemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Supermemory.ProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__profile(namespace, request, requestOptions));
    }

    private async __profile(
        namespace: string,
        request: Supermemory.ProfileRequest = {},
        requestOptions?: SupermemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Supermemory.ProfileResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SupermemoryEnvironment.Default,
                `ns/${core.url.encodePathParam(namespace)}/profile`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Supermemory.ProfileResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Supermemory.BadRequestError(
                        _response.error.body as Supermemory.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Supermemory.UnauthorizedError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Supermemory.ForbiddenError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Supermemory.InternalServerError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SupermemoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/ns/{namespace}/profile");
    }

    /**
     * Browse documents, source chunks, or learned memories through one predictable paginated contract. Choose the collection in the path; the other collection arrays remain empty for a stable response shape.
     *
     * @param {string} namespace - Namespace containing the resources to list. This can be an ID for your user, a project ID, or any other identifier you wish to use to scope resources.
     * @param {Supermemory.ListRequestType} type - Resource collection to list: source documents, extracted chunks, or learned memories
     * @param {Supermemory.ListRequest} request
     * @param {SupermemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Supermemory.BadRequestError}
     * @throws {@link Supermemory.UnauthorizedError}
     * @throws {@link Supermemory.ForbiddenError}
     * @throws {@link Supermemory.InternalServerError}
     * @throws {@link errors.SupermemoryError}
     * @throws {@link errors.SupermemoryTimeoutError}
     *
     * @example
     *     await client.list("user_alex", "documents", {
     *         page: 1,
     *         limit: 10
     *     })
     */
    public list(
        namespace: string,
        type: Supermemory.ListRequestType,
        request: Supermemory.ListRequest = {},
        requestOptions?: SupermemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Supermemory.ListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(namespace, type, request, requestOptions));
    }

    private async __list(
        namespace: string,
        type: Supermemory.ListRequestType,
        request: Supermemory.ListRequest = {},
        requestOptions?: SupermemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Supermemory.ListResponse>> {
        const { page, limit, sort, order, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            limit,
            sort: sort != null ? sort : undefined,
            order: order != null ? order : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SupermemoryEnvironment.Default,
                `ns/${core.url.encodePathParam(namespace)}/list/${core.url.encodePathParam(type)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Supermemory.ListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Supermemory.BadRequestError(
                        _response.error.body as Supermemory.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Supermemory.UnauthorizedError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Supermemory.ForbiddenError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Supermemory.InternalServerError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SupermemoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/ns/{namespace}/list/{type}");
    }

    /**
     * Make a passthrough request using the SDK's configured auth, retry, logging, etc.
     * This is useful for making requests to endpoints not yet supported in the SDK.
     * The input can be a URL string, URL object, or Request object. Relative paths are resolved against the configured base URL.
     *
     * @param {Request | string | URL} input - The URL, path, or Request object.
     * @param {RequestInit} init - Standard fetch RequestInit options.
     * @param {core.PassthroughRequest.RequestOptions} requestOptions - Per-request overrides (timeout, retries, headers, abort signal).
     * @returns {Promise<Response>} A standard Response object.
     */
    public async fetch(
        input: Request | string | URL,
        init?: RequestInit,
        requestOptions?: core.PassthroughRequest.RequestOptions,
    ): Promise<Response> {
        return core.makePassthroughRequest(
            input,
            init,
            {
                baseUrl: this._options.baseUrl ?? this._options.environment,
                headers: this._options.headers,
                timeoutInSeconds: this._options.timeoutInSeconds,
                maxRetries: this._options.maxRetries,
                fetch: this._options.fetch,
                logging: this._options.logging,
                getAuthHeaders: async () => (await this._options.authProvider.getAuthRequest()).headers,
            },
            requestOptions,
        );
    }
}
