// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Supermemory from "../../../index.js";

export declare namespace MemoriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MemoriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MemoriesClient.Options>;

    constructor(options: MemoriesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Remove exact memories from normal recall while preserving their audit history. Each ID is handled independently and any missing or ineligible memory is reported without rolling back successful changes.
     *
     * @param {string} namespace - Namespace containing the memories to forget. This can be an ID for your user, a project ID, or any other identifier you wish to use to scope memories.
     * @param {Supermemory.ForgetMemoriesRequest} request
     * @param {MemoriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Supermemory.BadRequestError}
     * @throws {@link Supermemory.UnauthorizedError}
     * @throws {@link Supermemory.ForbiddenError}
     * @throws {@link Supermemory.InternalServerError}
     * @throws {@link errors.SupermemoryError}
     * @throws {@link errors.SupermemoryTimeoutError}
     *
     * @example
     *     await client.memories.forget("user_alex", {
     *         ids: ["mem_abc123"]
     *     })
     */
    public forget(
        namespace: string,
        request: Supermemory.ForgetMemoriesRequest,
        requestOptions?: MemoriesClient.RequestOptions,
    ): core.HttpResponsePromise<Supermemory.ForgetMemoriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__forget(namespace, request, requestOptions));
    }

    private async __forget(
        namespace: string,
        request: Supermemory.ForgetMemoriesRequest,
        requestOptions?: MemoriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Supermemory.ForgetMemoriesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SupermemoryEnvironment.Default,
                `ns/${core.url.encodePathParam(namespace)}/memories`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Supermemory.ForgetMemoriesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Supermemory.BadRequestError(
                        _response.error.body as Supermemory.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Supermemory.UnauthorizedError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Supermemory.ForbiddenError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Supermemory.InternalServerError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SupermemoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/ns/{namespace}/memories");
    }

    /**
     * Describe what should be forgotten in natural language, then preview or apply the matching set. Use dry-run results with the exact-ID endpoint when you need a reviewable, drift-free workflow.
     *
     * @param {string} namespace - Namespace containing the memories to forget. This can be an ID for your user, a project ID, or any other identifier you wish to use to scope memories.
     * @param {Supermemory.ForgetMatchingMemoriesRequest} request
     * @param {MemoriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Supermemory.BadRequestError}
     * @throws {@link Supermemory.UnauthorizedError}
     * @throws {@link Supermemory.ForbiddenError}
     * @throws {@link Supermemory.InternalServerError}
     * @throws {@link errors.SupermemoryError}
     * @throws {@link errors.SupermemoryTimeoutError}
     *
     * @example
     *     await client.memories.forgetMatching("user_alex", {
     *         query: "everything about the old pricing plans",
     *         dryRun: true
     *     })
     */
    public forgetMatching(
        namespace: string,
        request: Supermemory.ForgetMatchingMemoriesRequest,
        requestOptions?: MemoriesClient.RequestOptions,
    ): core.HttpResponsePromise<Supermemory.ForgetMatchingMemoriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__forgetMatching(namespace, request, requestOptions));
    }

    private async __forgetMatching(
        namespace: string,
        request: Supermemory.ForgetMatchingMemoriesRequest,
        requestOptions?: MemoriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Supermemory.ForgetMatchingMemoriesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SupermemoryEnvironment.Default,
                `ns/${core.url.encodePathParam(namespace)}/memories/semantic`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Supermemory.ForgetMatchingMemoriesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Supermemory.BadRequestError(
                        _response.error.body as Supermemory.BadRequestErrorBody,
                        _response.rawResponse,
                    );
                case 401:
                    throw new Supermemory.UnauthorizedError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Supermemory.ForbiddenError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Supermemory.InternalServerError(
                        _response.error.body as Supermemory.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SupermemoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/ns/{namespace}/memories/semantic",
        );
    }
}
